<!DOCTYPE html>
<html>
<head>
  <title>Stripedemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h3 style="float: right; margin-top: 0">Current User: <%= current_user.present? ? current_user.name : "None" %></h3>

<%= yield %>

</body>
</html>
